#main {
  text-align: center;
  background-color: #eee;
  height: 100%;
  width: 100%;
}
#title {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}
#img-div {
  background-color: white;
  align-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  border-style: solid;
  border-color: blue;
}
#tribute-info,
#sub {
  text-align: left;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}
#sub-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
#heading-sub {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}
@media (min-width: 750px) {
  #tribute-info,
  #sub {
    width: 45%;
    margin: auto;
  }
}
#image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
#last-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}
#heading-sub,
#last-heading,
#sub-heading,
#img-caption {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
